.container {
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.item {
  position: relative;
  flex-shrink: 0;
}

.image {
  width: 15em;
  border-radius: .5em;
  overflow: hidden;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  background: linear-gradient(to top, black, transparent);
  width: 100%;
  border-radius: 0 0 .5em .5em;
}

.info {
  --gap: .5em;
  align-items: center;
  color: #FFFFFF90;
}

@media only screen and (min-width: 48em) {
  .container {
    margin-bottom: 2.5rem;
  }

  .image {
    width: 30em;
  }
}