.search-bar {
  align-items: center;
  padding-top: 1.5rem;
}

.search-icon {
  width: 1.5em;
}

.search-input {
  color: var(--clr-neutral);
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.search-input:focus {
  outline: none;
  border-bottom: 1px solid #979797;
  margin-bottom: -1px;
  caret-color: red;
}

.not-found {
  font-style: italic;
}

@media only screen and (min-width: 48em) {
  .search-bar {
    padding-top: 2rem;
  }

  .search-icon {
    width: unset;
  }
}

@media only screen and (min-width: 90em) {
  .search-bar {
    padding-top: 4rem;
  }
}