.container {
  grid-template-columns: repeat(2, 1fr);
}

.item {
  position: relative;
}

.image {
  border-radius: .5em;
  overflow: hidden;
}

.info {
  --gap: .35rem;
  align-items: center;
  color: #FFFFFF90;
  justify-content: flex-start;
  margin-top: .5rem;
}

@media only screen and (min-width: 44em) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 85em) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}