/* FONTS */
@font-face {
  font-family: "Outfit";
  src: url("/src/assets/fonts/Outfit-Light.woff2") format("woff2"),
       url("/src/assets/fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("/src/assets/fonts/Outfit-Medium.woff2") format("woff2"),
       url("/src/assets/fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* CUSTOM PROPERTIES */
:root {
  --clr-primary-600: rgb(16, 20, 30);
  --clr-primary-500: rgb(22, 29, 47);
  --clr-primary-400: rgb(90, 105, 143);
  --clr-neutral: rgb(255, 255, 255);
  --clr-secondary: rgb(252, 71, 71);
}

/* RESET */

/* modified version of 'a more modern version of CSS reset' by Andy Bell:  */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set up the body */
body {
  line-height: 1.5;
  min-height: 100svh;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all default styles from buttons and links but keep the outline for keyboard accessibility */
a,
button {
  all: unset;
  outline: revert;
  cursor: pointer;
}

/* Remove animations for those who have reduced motion settings on */
/* From sanitize.css */
/* https://github.com/csstools/sanitize.css/blob/main/reduce-motion.css */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}

/* UTILITY CLASSES */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.bg-dark {
  background-color: var(--clr-primary-600);
}
.bg-accent {
  background-color: var(--clr-primary-500);
}

.heading-l {
  font-weight: 300;
  font-size: 2rem;
}
.heading-m {
  font-weight: 300;
  font-size: 1.5rem;
}
.heading-s {
  font-weight: 500;
  font-size: 1.5rem;
}
.heading-xs {
  font-weight: 500;
  font-size: 1.125rem;
}
.body-m {
  font-weight: 300;
  font-size: 1rem;
}
.body-s {
  font-weight: 300;
  font-size: 0.8rem;
}

@media only screen and (max-width: 48em) {
  .heading-l {
    font-size: 1.25rem;
  }
  .heading-m {
    font-size: 1rem;
  }
  .heading-s {
    font-size: 1rem;
  }
  .heading-xs {
    font-size: 0.9rem;
  }
  .body-m {
    font-size: 0.8rem;
  }
  .body-s {
    font-size: 0.7rem;
  }
}

/* GENERAL STYLES */
body {
  background-color: var(--clr-primary-600);
  color: var(--clr-neutral);
  font-family: "Outfit", sans-serif;
}

main {
  padding: 1rem;
}

input {
  background-color: var(--clr-primary-600);
  border: none;
  width: 100%;
}

.heading {
  margin: 1.25rem 0;
}

.bookmark-button {
  position: absolute;
  top: .75em;
  right: 1em;
  padding: .65em;
  border-radius: 100px;
  opacity: 50%;
}

.bookmarked {
  fill: var(--clr-neutral);
}

@media only screen and (min-width: 48em) {
  main {
    padding: .75rem 1.75rem;
  }
}

@media only screen and (min-width: 90em) {
  main {
    padding-top: 3.5rem;
  }
}